site_name: Demo Rust API
site_description: Documentation for the Demo Rust API service
repo_url: https://github.com/alessandrolomanto/demo-rust-api

nav:
  - Home: index.md
  - Getting Started: getting-started.md

plugins:
  - search
  - techdocs-core

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - toc:
      permalink: true

theme:
  name: material
  palette:
    scheme: slate
    primary: deep orange
    accent: orange
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy

